<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../static/css/learner.css">



    <title>Register for Classes</title>
</head>
<body style="background-color: #eee;" onload="renderPage();" class="mb-5">
    
    <!-- navigation bar -->
    <nav class="navbar navbar-dark bg-dark d-flex float-left">
        <div class="my-3"> </div>
        <div class="my-3 float-end">
            <button onclick="logout()" class="btn btn-outline-light me-5">Logout</button>
        </div>
    </nav>
    <br>

    <!-- redirect to previous page -->
    <div class="container mb-4">
        <div><svg xmlns="http://www.w3.org/2000/svg" onclick="backToPrevPage('tnr_view_quiz_list')" width="45" height="45" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
          </svg></div>
    </div>

    <!-- title: quiz_id, quiz_type -->
    <div id="quiz-list-title" class="container mb-4">
        <!-- <h1>Chapter 1 Quiz</h1> 
        <h4>BEM460 Class 3</h4>      -->
    </div>

    <div class="container alert alert-primary" role="alert">
        This is a display of how the quiz will look like for learners.
    </div>
    
    <!-- quiz -->
    <div id="quiz" class="container px-5 pt-5 pb-1 bg-white mx-auto"></div>
    
</body>
    <script src="../../static/js/main.js"></script>

    <script>
        //initialise localStorage
        const storage = window.localStorage;

        // storage
        const quiz_id = storage.getItem("quiz_id"); // BEM460_C3_Chapt1q
        const quiz_id_list = quiz_id.split("_"); // ['BEM460', 'C3', 'Chapt1q']
        const quiz_type = storage.getItem("quiz_type"); 

        function renderPage() {
            getAPIkeys_TNR();
        
            console.log("===== localStorage.getItem() =====")
            console.log(`quiz_id: ${quiz_id} || quiz_type: ${quiz_type}`)
        
            displayQuiz();
            displayTitle();
        }

        $(function() {
  
            var $btn = $('#btnTop');
            var $home = $('#topSection');
            var startpoint = $home.scrollTop() + $home.height();
            
            $(window).on('scroll', function() {
                if($(window).scrollTop() > startpoint) {
                $btn.show();
                } else {
                $btn.hide();
                }
            });
        });

        function displayTitle() {
            document.getElementById("quiz-list-title").innerHTML = "";
            console.log(quiz_id_list, quiz_id_list[1].slice(-1))
            
            // console.log(id_list);
            
            var html_content = `
            <h2>Chapter ${quiz_id_list[2].slice(5, 6)}</h2> <!-- might not work for chapter above 10 e.g. Chapt10q-->
            <h4>${quiz_id_list[0]} Class ${quiz_id_list[1].slice(-1)}</h4>
            `;

            document.getElementById("quiz-list-title").innerHTML = html_content;
        }

        function displayQuiz() {

            document.getElementById("quiz").innerHTML = "";
        
            var html_content = "";
        
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var result = JSON.parse(this.response);
        
                    if (result.code == 500) {
                        console.log("Error 500: Unable to retrieve quiz questions.");
                    } else if (result.code == 200) {
                        var question_list = result.results.results;
                        console.log(question_list);
            
                        for (qn of question_list) {
                            // console.log(qn);
                            var question = qn.question;
                            var question_id = qn.question_id;
                            var question_mark = qn.question_mark;
                            var question_type = qn.question_type; 
                            var qn_options = qn.option; 
                            var qn_answer = qn.answer; 
            
                            options_array = qn_options.split(","); //array of questions  
                            
                            html_content += `<div id="${question_id}" class="mb-5 px-auto">
                            <h5><b>${question_id}.  ${question}</b> (${question_type})</h5>
                            <h6 class='float-end'>${question_mark} Marks</h6><br>`;
            
                            for (var option of options_array) {  // find out how to get selected value of radio buttons
                                if ( option.replace(/\s+/g, "") == qn_answer.replace(/\s+/g, "")) { // different whitespace (https://stackoverflow.com/questions/54195474/two-seemingly-equal-strings-not-equal-in-javascript)
                                    html_content +=  `
                                    <div class="alert alert-success" role="alert">
                                        <input class="form-check-input ms-3" type="radio" checked>
                                        <span class="form-check-label ms-3 fs-5">
                                            ${option}
                                        </span>
                                    </div>`;
                                } else {
                                    html_content +=  `
                                    <div class="alert alert-light" role="alert">
                                        <input class="form-check-input ms-3" type="radio">
                                        <span class="form-check-label ms-3 fs-5">
                                            ${option}
                                        </span>
                                    </div>`;
                                }
                            }
        
                        html_content += `<div class="invalid-feedback">Please attempt the question</div></div>`;
                    }
                    
                    document.getElementById("quiz").innerHTML = html_content;
                    }
                    
                }
            };
        
            var url = `${viewQuiz_TNR}${quiz_id}`;
            console.log("url", url)
            request.open("GET", url, true);
            request.send();
        }

        

       
  
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>