<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../static/css/learner.css">



    <title>Register for Classes</title>
</head>
<body style="background-color: #eee;">
    <!-- navigation bar -->
    <nav class="navbar navbar-dark bg-dark d-flex float-left">
        <div class="my-3"> </div>
        <div class="my-3 float-end">
            <button onclick="logout()" class="btn btn-outline-light me-5">Logout</button>
        </div>
    </nav>
    <br>

    <!-- title -->
    <div class="container mb-4">
        <h2>EM206 Engineering Management</h2> 
        <h4>Class 1</h4>     
    </div>


 


    <div id="chapter-list" class="container">
        <li class="list-group-item d-flex py-3 align-items-center">
            <div class="ms-2 me-auto"><h5 class="">Chapter 1</h5></div>
            <button class="btn btn-outline-primary rounded-pill" style="margin-right: 1rem">View Quiz</button> 
            <button class="btn btn-outline-secondary rounded-pill" disabled>Create Quiz</button>
        </li>
        <li class="list-group-item d-flex py-3 align-items-center">
            <div class="ms-2 me-auto"><h5 class="">Chapter 2</h5></div>
            <button class="btn btn-outline-primary rounded-pill" style="margin-right: 1rem">View Quiz</button> 
            <button class="btn btn-outline-secondary rounded-pill" disabled>Create Quiz</button>
        </li>
        <li class="list-group-item d-flex py-3 align-items-center">
            <div class="ms-2 me-auto"><h5 class="">Chapter 3</h5></div>
            <button class="btn btn-outline-secondary rounded-pill" style="margin-right: 1rem" disabled>View Quiz</button> 
            <button class="btn btn-outline-primary rounded-pill">Create Quiz</button>
        </li>
        <li class="list-group-item d-flex py-3 align-items-center">
            <div class="ms-2 me-auto"><h5 class="">Final</h5></div>
            <button class="btn btn-outline-secondary rounded-pill" style="margin-right: 1rem" disabled>View Quiz</button> 
            <button class="btn btn-outline-primary rounded-pill">Create Quiz</button>
        </li>
    </div>
    
</body>
    
    <!-- <script src="../../static/js/class_registration.js"></script> -->

    <script>
  
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>