<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../static/css/learner.css">



    <title>Engineering Courses</title>
</head>
<body style="background-color: #eee;" onload="renderPage()">
     <!-- navigation bar -->
     <nav class="navbar navbar-expand-lg navbar navbar-dark px-5" style="background-color: #8a7c60fb;">
        <div class="my-3 container-fluid">
            <button class="navbar-toggler" style="border: none;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href='hr_homepage.html' class="nav-link">Home</a>
                    </li>
                </ul> 
            </div>
            <div class="">
                <button onclick="logOut()" class="btn btn-outline-light float-end">Logout</button>
                <span class="text-white fs-5 ms-3 mt-1 float-end">HR1</span>
                <img src="../../static/img/dp_female.png" class="rounded-circle float-end ms-3" width="45px" height="45px" alt="...">
            </div>
        </div>
    </nav>
    <br>
    <br>

    <!-- redirect to previous page -->
    <div class="container mb-4">
        <div><svg xmlns="http://www.w3.org/2000/svg" onclick="backToPrevPage('hr_homepage')" width="45" height="45" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
          </svg></div>
    </div>

    <!-- title: class_id, class_type -->
    <div class="container mb-4">
        <h2 id="course-title"></h2>
        <p>
            <strong>Course Description</strong> <br>
            <span id="course-description"></span>
        </p>
    </div>

    <!-- class list -->
    <div id="class-list" class="container">
        <!-- <li class="list-group-item d-flex py-3 align-items-center">
            <div class="ms-2 me-auto"><h5 class="">Chapter 1</h5></div>
            <button class="btn btn-outline-primary rounded-pill" style="margin-right: 1rem">View class</button> 
            <button class="btn btn-outline-secondary rounded-pill" disabled>Create class</button>
        </li>
        <li class="list-group-item d-flex py-3 align-items-center">
            <div class="ms-2 me-auto"><h5 class="">Chapter 3</h5></div>
            <button class="btn btn-outline-secondary rounded-pill" style="margin-right: 1rem" disabled>View class</button> 
            <button class="btn btn-outline-primary rounded-pill">Create class</button>
        </li> -->
    </div>

    <div id="class-list" class="container">


        
    </div>
    
</body>
    <script src="../../static/js/main.js"></script> 

    <script>
        //initialise localStorage
        const storage = window.localStorage;

         // storage
         const course_details = storage.getItem("course_details"); // ${course_id}_${course_name}_${num_of_class}_${total_slot_available}
         const course_details_list = course_details.split("_");
        //hardcoded learner_id because learner login is not implemented yet
        function renderPage() {
            getAPIkeys_HR();

            displayCourseDetails();
            displayClassList();
        }

        function displayCourseDetails() {
            // console.log("course_ls: ", course_ls);
            // console.log("class_ls: ", class_ls);
            var request = new XMLHttpRequest();
        
            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    
                    var course_details = JSON.parse(this.response).data.courses;
                    console.log(course_details);
        
                    var course_name;
                    var course_desc;
        
                    for (var eachCourse of course_details) { 
                        // console.log(course_id);
                        // console.log(eachCourse.course_id);
        
                        if (course_details_list[0] == eachCourse.course_id) { 
        
                            course_name = eachCourse.course_name;
                            course_desc = eachCourse.course_description;
                            // console.log(course_name);
                        }
                    }
        
                    document.getElementById("course-title").innerHTML = `${course_details_list[0]} ${course_name}`;
                    document.getElementById("course-description").innerHTML = `${course_desc}`;
                }
        
            }
            var url = `${getCourseList_HR}`; 
            request.open("GET", url, true);
            request.send();
        }

        function displayClassList() {
            // console.log("course_ls: ", course_ls);
            // console.log("class_ls: ", class_ls);
            var html_content = ``;
            var request = new XMLHttpRequest();
        
            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    
                    var class_ls = JSON.parse(this.response)[`${course_details_list[0]}`];
                    console.log(class_ls);

                    if (class_ls.length == 0) {
                        html_content += `
                        <div class="container alert alert-danger" role="alert">
                            Currently, there are no classes for ${course_details_list[0]} ${course_details_list[1]} before registration start date.
                        </div>
                        `;
                    }

                    for (var each_class of class_ls) { 
                        var class_id = each_class.class_id;
                        var class_id_list = class_id.split('_');
                        console.log(class_id)
                        html_content += 
                        `
                        <a href="#" class="list-group-item py-4 list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                              <h4 class="mb-1">Class ${class_id_list[1].slice(-1)}</h4>
                              <small class="mb-1"><button onclick="redirectToNextPage('hr_view_learners', '${class_id}')" class="btn btn-sm btn-outline-primary rounded-pill">View Class</button></small>
                            </div>
                            <p class="mb-1">
                                Registration Period: ${each_class.reg_start_date} to ${each_class.reg_end_date}
                            </p>
                            
                          </a>
                        
                        `;
                    }
        
                    document.getElementById("class-list").innerHTML = html_content;
                }
        
            }
            var url = `${getCourseDetails_HR}${course_details_list[0]}`; 
            request.open("GET", url, true);
            request.send();
        }

        

        function getCourseCards() {        
            document.getElementById("cards").innerHTML = "";
        
            var html_content = "";
        
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = JSON.parse(this.response);
                    var course_list = response.data.courses;
                    console.log(course_list);
        
        
                    for (course of course_list) {
                        var course_name = course.course_name;
                        var course_id = course.course_id;
                        var num_of_class = course.num_of_class;
                        var total_slot_available = course.total_slot_available;

                        if (num_of_class == 0) {
                            var slots_content = `
                            no slots left
                            `;
                        } else {
                            var slots_content = `
                            ${total_slot_available} out of ${50*num_of_class} slots left
                            `;
                        }
                        
                        html_content += 
                        `<div class="col-6 mb-4">
                            <div class="card h-100">
                                <div class="card-body">
                                  <h5 class="card-title">${course_id} ${course_name}</h5>
                                  <p class="card-text">
                                    Number of Classes: \t ${num_of_class} <br>
                                    Number of Slots: \t ${total_slot_available}
                                  </p>
                                  <button onclick="redirectToNextPage('hr_view_course_details', '${course_id}_${course_name}_${num_of_class}_${total_slot_available}')" class="btn btn-outline-primary rounded-pill" style="margin-bottom: 1rem" >View Course</button>
                                </div>
                           </div>
                        </div>`;
                    }
                    
                    document.getElementById("cards").innerHTML = html_content;
                }
            };
        
            var url = getCourseList_HR;
            request.open("GET", url, true);
            request.send();
        }


        function redirectToNextPage(page, class_id) {
            storage.setItem("class_id", class_id);
            console.log(class_id)
            redirectToPage(page);
        }

        function logOut() {
            storage.clear();
            window.location.replace("../login.html");
        }

        
  
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>