<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- <link rel="stylesheet" href="../../static/css/learners.css"> -->

    <!--  -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <title>Admin Portal - View Learners</title>
</head>
<body onload="" style="background-color: #eee;">
    <!-- navigation bar, reference from https://codepen.io/TahseenAlaa/pen/gORezZR -->
    <nav class="navbar navbar-dark bg-dark d-flex float-left">
      <div class="my-2">
        <button class="btn btn-outline-secondary text-white mx-2">Browse Course</button>
        <button class="btn btn-outline-secondary text-white active">View Status</button>
      </div>
    </nav>

    <!-- course description -->
    <br><br>
    <div class="container">
        <h2>My Courses</h2>      
    </div>

    <!-- class registration -->

<div class="container table-responsive"> 
    <table id="reg-course" class="table table-borderless table-hover py-4 d-none">
      <thead>
        <tr>
          <th scope="col">Course ID</th>
          <th scope="col">Course Name</th>
          <th scope="col">Class</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody id="reg-course-body">
        <!-- <tr>
          <td scope="row">CE100</td>
          <td>Class 1</td>
          <td>Computer Engineering</td>
          <td class="text-secondary">Pending</td>
          <td><button type="button" class="btn btn-outline-danger" onclick="exampleOnclick(this)">Withdraw</button></td>
        </tr> -->
      </tbody>
    </table>
</div>

  <div id="no-reg-course" class="container rounded p-4 d-none" style="background-color: white;">
    <h6>You have not registered for any courses yet</h6>
  </div>
<br><br>



    
</body>
    
    <!-- <script type="module" src="../templates/server-env.js"></script> -->


    <script>
    //hardcoded learner_id because learner login is not implemented yet
    const learner_id = "LNR10"  
    let getRegisteredCourses = `http://192.168.1.71:5000/registration_details`;
    let withdrawLearnerURL = "http://192.168.1.71:5000/withdraw_learner_registration";
    var course_id;

    //initialise localStorage
    const storage = window.localStorage;

    // we need a function to load files. reference from https://stackoverflow.com/questions/12460378/how-to-get-json-from-url-in-javascript
    var getJSON = function (url, done) {
      var xhr = new XMLHttpRequest();
      xhr.onload = function () { return done(this.response) }
      xhr.open("GET", url, true);
      xhr.send();
   }
    
    async function load() {
        // let url = `http://192.168.1.71:5000/registration_details/${learner_id}`;
        // console.log("url: ", getRegisteredCourses)
        let obj = await (await fetch(`${getRegisteredCourses}/${learner_id}`)).json();
        console.log(obj);
    }
    
    
    document.addEventListener("DOMContentLoaded", function renderCourseDetailsPage () {
      load();
  
      // course_id = storage.getItem("course_id"); 
      // console.log(course_id);
  
      // viewCourseDetails();
      showClassesforRegistration(learner_id);
  
    }) 

function showClassesforRegistration (learner_id) {
    console.log("learner_id: ", learner_id);
    
    // document.getElementById("no-reg-course").innerHTML = "";
    // document.getElementById("reg-course").innerHTML = "";
    // document.getElementById("prereq_courses").innerHTML = "";
    
    var message = "";

    var request = new XMLHttpRequest();
    request.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var reg_courses = JSON.parse(this.response).results;
            console.log("# of reg courses: ", reg_courses.length);
            console.log(reg_courses);

            document.getElementById("reg-course-body").innerHTML = '';

            // 

            
            if (reg_courses.length == 0) {
              // show message
              console.log("** 0 **");
              document.getElementById("no-reg-course").classList.remove("d-none");
              document.getElementById("reg-course").classList.add("d-none");
              // console.log(document.getElementById("no-reg-course").innerHTML)

            } else {
              console.log("** >=1 **");
              document.getElementById("no-reg-course").classList.add("d-none");
              document.getElementById("reg-course").classList.remove("d-none");

              var html_content = "";

              for (course of reg_courses) { 
                var class_id = course.class_id;
                var course_id = course.course_id;  
                var course_name = course.course_name;  
                var is_approved = course.is_approved;  // boolean value 
                var course_detail = `${course_name} (${course_id}) of Class ${class_id}`;
                console.log(course_detail);

                html_content += 
                `
                <tr>
                  <td scope="row">${course_id}</td>
                  <td>${class_id.slice(-1)}</td>
                  <td>${course_name}</td>
                  <td class="text-secondary">${is_approved == 0? "Pending" : "Approved"}</td>
                  <td><button type="button" class="btn btn-outline-danger" onclick="exampleOnclick(this, '${class_id}', '${course_id}', ${is_approved})">Withdraw</button></td>
                </tr>
                `;
              }

              document.getElementById("reg-course-body").innerHTML = html_content;


            }
             
        }
          


    }

    var url = `${getRegisteredCourses}/${learner_id}`;
    // console.log(url);
    request.open("GET", url, true);
    request.send();
}
  


    // hard code learner
    function exampleOnclick(btn, class_id, course_id, is_approved) {
        // console.log(course_detail)

        var name = btn.innerHTML;
        var exampleModal = getExampleModal();

        // Init the modal if it hasn't been already.
        if (!exampleModal) { exampleModal = initExampleModal(); }
        
        initExampleModal()
        var html =
            `<div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Withdraw</h5>
              </div>
              <div class="modal-body">
                Are you sure you want to withdraw your ${is_approved == 0? "registration" : "enrollment"}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()" id="modal-close-btn">Close</button>
                <button type="button" class="btn btn-danger" onclick="withdrawLearner('${class_id}', '${course_id}', '${is_approved}')">Withdraw</button>
              </div>`;
      
        setExampleModalContent(html);
      
        // Show the modal.
        jQuery(exampleModal).modal('show');
      
      }

      function closeModal() {
        console.log('close')
        jQuery(exampleModal).modal('hide');
      }

      function withdrawLearner(class_id, course_id, is_approved) {
        console.log(class_id, course_id, is_approved, learner_id);

        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                
              try {
                console.log("ready state: ", this.readyState, this.status);

                // withdraw msg
                alert_msg = `withdrawal is successful`;
                window.localStorage.setItem("alert_msg", alert_msg);

                showClassesforRegistration();
                alert(localStorage['alert_msg']);
                
                // reload();

                jQuery(exampleModal).modal('hide');
              }
              catch(err) {
                showError('There is a problem retrieving data, please try again later.<br />' + err);
              }
            }

        }

        var data = JSON.stringify({ 'class_id': `${class_id}`, 
                                    'course_id': `${course_id}`,
                                    'learner_id': `${learner_id}`,
                                    'is_approved': parseInt(is_approved)
        });
        jQuery(exampleModal).modal('hide');
  

        console.log(data);
        request.open("POST", withdrawLearnerURL, true, "/json-handler");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(data);   

      }

      /*
        helper functions
      */
      /**/
      function reload() {
        location.reload();
      }

      

      

      function getExampleModal() {
        return document.getElementById('exampleModal');
      }
      
      function setExampleModalContent(html) {
        getExampleModal().querySelector('.modal-content').innerHTML = html;
      }
      
      function initExampleModal() {
        var modal = document.createElement('div');
        modal.classList.add('modal', 'fade');
        modal.setAttribute('id', 'exampleModal');
        modal.setAttribute('tabindex', '-1');
        modal.setAttribute('role', 'dialog');
        modal.setAttribute('aria-labelledby', 'exampleModalLabel');
        modal.setAttribute('aria-hidden', 'true');
        modal.innerHTML =
              '<div class="modal-dialog" role="document">' +
                '<div class="modal-content"></div>' +
              '</div>';

    
        document.body.appendChild(modal);
        // console.log("modal", modal)
        return modal;
      }
  
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>

