<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../static/css/learner.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>


    <title>Enrolled Courses</title>

</head>
<body onload="renderPage()" style="background-color: rgb(255, 255, 255);">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #8a7c60fb;">
        <div class="my-3 container-fluid">
            <button class="navbar-toggler" style="border: none;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href='view_reg_courses.html' class="nav-link">Browse Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='view_reg_details.html'>View/Change Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href='enrolled_courses.html'>Enrolled Courses</a>
                    </li>
                </ul> 
            </div>
            <div class="">
                <button onclick="logout()" class="btn btn-outline-light float-end">Logout</button>
                <span class="text-white fs-5 ms-3 mt-1 float-end" id="learner-id"></span>
                <img src="../../static/img/download.jfif" class="rounded-circle float-end ms-3" width="45px" height="45px" alt="...">
            </div>
        </div>
    </nav>
    <br>

    <div class="ms-5 mt-3"><svg xmlns="http://www.w3.org/2000/svg" onclick="goBackTo('viewEnrolledCourses')" width="45" height="45" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"></path>
      </svg>
    </div>

    <div class="container">
        <h2 id="chapter-title" class="ms-5"></h2>
    </div>
    <br>

    <!-- pdf viewer -->
    <div id="pdfviewer" class="mx-auto text-center" style="height: 10000px;">
    </div>
    <!-- <br> -->

    <div id="take-quiz-button" class="mx-auto text-center">
    </div>
    <!-- <br><br><br> -->
    
</body>
    <script src="../../static/js/chapter-contents.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>