<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../../static/css/learner.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <title>View Registration Details</title>
</head>
<body onload="showClassesforRegistration(learner_id)" style="background-color: #eee;">
    <!-- navigation bar, reference from https://codepen.io/TahseenAlaa/pen/gORezZR -->
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #8a7c60fb;">
          <div class="my-3 container-fluid">
              <button class="navbar-toggler" style="border: none;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <a href='view_reg_courses.html' class="nav-link">Browse Courses</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href='view_reg_details.html'>View/Change Status</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link"  href='enrolled_courses.html'>Enrolled Courses</a>
                      </li>
                  </ul> 
              </div>
              <div class="">
                  <button onclick="logout()" class="btn btn-outline-light float-end">Logout</button>
                  <span class="text-white fs-5 ms-3 mt-1 float-end" id="learner-id"></span>
                  <img src="../../static/img/download.jfif" class="rounded-circle float-end ms-3" width="45px" height="45px" alt="...">
              </div>
          </div>
      </nav>

    <!-- my course's title -->
    <br><br>
    <div class="container mb-4">
        <h2>My Courses</h2>      
    </div>

    <!-- learner's courses table -->

    <div class="container table-responsive"> 
        <table id="reg-course" class="table table-borderless table-hover py-4 d-none">
          <thead>
            <tr>
              <th scope="col">Course ID</th>
              <th scope="col">Class</th>
              <th scope="col">Course Name</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody id="reg-course-body">
            <!-- <tr>
              <td scope="row">CE100</td>
              <td>Class 1</td>
              <td>Computer Engineering</td>
              <td class="text-secondary">Pending</td>
              <td><button type="button" class="btn btn-outline-danger" onclick="exampleOnclick(this)">Withdraw</button></td>
            </tr> -->
          </tbody>
        </table>
    </div>

    <div id="no-reg-course" class="container rounded mt-5 py-5 d-none text-center" style="background-color: white;">
      <h6>You have not registered for any courses yet</h6>
    </div>
   
</body>
    <script src="../../static/js/view_reg_details.js"></script>
    <!-- <script>
    /***** STORAGE *****/
    const storage = window.localStorage;
    const asyncLocalStorage = {
      setItem: async function (key, value) {
          await null;
          return storage.setItem(key, value);
      },
      getItem: async function (key) {
          await null;
          return storage.getItem(key);
      }
    };

    /***** VARIABLES *****/
    // hardcoded learner
    // const learner_id = "LNR8"; 

    // GET learner_id from localStorage (stored in login.html)
    const learner_id = asyncLocalStorage.getItem("learner_id");  

    var course_id;
    var getRegCoursesURL;
    var withdrawLearnerURL;

    // to retrieve api keys without exposing
    async function getAPIkeys () {  
      var request = new XMLHttpRequest();
      request.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
              var api_keys = JSON.parse(this.response);
              // getRegCoursesURL = api_keys.getRegCoursesURL;
              // withdrawLearnerURL = api_keys.withdrawLearnerURL;
              getRegCoursesURL = api_keys.getEnrollmentStatus;
              withdrawLearnerURL = api_keys.withdraw_POST;
              // console.log(getRegCoursesURL);
              // console.log(withdrawLearnerURL);
          }
      }
      request.open("GET", "../../apikey.json", false);
      request.send();
    }

    /***** LOAD FILES *****/
    // callback function to load files, reference from https://stackoverflow.com/questions/12460378/how-to-get-json-from-url-in-javascript
    var getJSON = function (url, done) {
      var xhr = new XMLHttpRequest();
      xhr.onload = function () { return done(this.response) }
      xhr.open("GET", url, true);
      xhr.send();
   }
    
    async function load() {
        // console.log("url: ", getRegisteredCourses)
        
        let obj = await (await fetch(`${getRegCoursesURL}${learner_id}`)).json();
        console.log(obj);
    }
    
    /***** REGISTRATION FUNCTION *****/
    // display table
    function showClassesforRegistration (learner_id) {
        getAPIkeys();
        // console.log(`${getRegCoursesURL}${learner_id}`);
        console.log("learner_id: ", learner_id);
        
        var message = "";

        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var reg_courses = JSON.parse(this.response).results;
                console.log("# of reg courses: ", reg_courses.length);
                console.log(reg_courses);

                document.getElementById("reg-course-body").innerHTML = '';

                if (reg_courses.length == 0) {
                  // show message
                  console.log("** 0 **");
                  document.getElementById("no-reg-course").classList.remove("d-none");
                  document.getElementById("reg-course").classList.add("d-none"); //ensure that reg-course does not show on reload
                } else {
                  console.log("** >=1 **");
                  document.getElementById("no-reg-course").classList.add("d-none");
                  document.getElementById("reg-course").classList.remove("d-none"); //ensure that no-reg-course does not show on reload

                  var html_content = "";

                  for (course of reg_courses) { 
                    var class_id = course.class_id;
                    var course_id = course.course_id;  
                    var course_name = course.course_name;  
                    var is_approved = course.is_approved;  // boolean value 
                    var course_detail = `${course_name} (${course_id}) of Class ${class_id}`;
                    console.log(course_detail);

                    html_content += 
                    `
                    <tr>
                      <td scope="row">${course_id}</td>
                      <td>${class_id.slice(-1)}</td>
                      <td>${course_name}</td>
                      <td class="text-secondary">${is_approved == 0? "Pending" : "Approved"}</td>
                      <td><button type="button" class="btn btn-outline-danger" onclick="exampleOnclick(this, '${class_id}', '${course_id}', ${is_approved})">Withdraw</button></td>
                    </tr>
                    `;
                  }

                  document.getElementById("reg-course-body").innerHTML = html_content;
                }   
            }
        }

        var url = `${getRegCoursesURL}/${learner_id}`;
        // console.log(url);
        request.open("GET", url, true);
        request.send();
      }
    

      /***** WITHDRAW BUTTON ONCLICK *****/
      // display modal when withdraw button is clicked
      function exampleOnclick(btn, class_id, course_id, is_approved) {
          // console.log(course_detail)

          var name = btn.innerHTML;
          var exampleModal = getExampleModal();

          // Init the modal if it hasn't been already.
          if (!exampleModal) { exampleModal = initExampleModal(); }
          
          initExampleModal()
          var html =
              `<div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Withdraw</h5>
                </div>
                <div class="modal-body">
                  Are you sure you want to withdraw your ${is_approved == 0? "registration" : "enrollment"}?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()" id="modal-close-btn">Close</button>
                  <button type="button" class="btn btn-danger" onclick="withdrawLearner('${class_id}', '${course_id}', '${is_approved}')">Withdraw</button>
                </div>`;
        
          setExampleModalContent(html);
        
          // Show the modal.
          jQuery(exampleModal).modal('show');
        
        }

        
      // send a POST request when withdraw button is clicked
      function withdrawLearner(class_id, course_id, is_approved) {
        console.log(class_id, course_id, is_approved, learner_id);

        var request = new XMLHttpRequest();
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                
              try {
                console.log("ready state: ", this.readyState, this.status);

                alert_msg = `withdrawal is successful`;
                window.localStorage.setItem("alert_msg", alert_msg);
                window.localStorage.setItem("learner_id", learner_id);
                
                setTimeout(function() {
                  console.log('hehe')
                  alert(localStorage['alert_msg']);
                  location.reload();
                  
                }, 850);
                
                jQuery(exampleModal).modal('hide');
              }
              catch(err) {
                showError('There is a problem retrieving data, please try again later.<br />' + err);
              }
            }
        }

        var data = JSON.stringify({ 'class_id': `${class_id}`,  
                                    'course_id': `${course_id}`,
                                    'learner_id': `${learner_id}`,
                                    'is_approved': parseInt(is_approved)
        });

        console.log(data);
        request.open("POST", withdrawLearnerURL, true, "/json-handler");
        request.setRequestHeader("Content-Type", "application/json");
        request.send(data);   

      }


        /***** HELPER FUNCTIONS *****/
        function getExampleModal() {
          return document.getElementById('exampleModal');
        }
        
        function setExampleModalContent(html) {
          getExampleModal().querySelector('.modal-content').innerHTML = html;
        }
        
        function initExampleModal() {
          var modal = document.createElement('div');
          modal.classList.add('modal', 'fade');
          modal.setAttribute('id', 'exampleModal');
          modal.setAttribute('tabindex', '-1');
          modal.setAttribute('role', 'dialog');
          modal.setAttribute('aria-labelledby', 'exampleModalLabel');
          modal.setAttribute('aria-hidden', 'true');
          modal.innerHTML =
                '<div class="modal-dialog" role="document">' +
                  '<div class="modal-content"></div>' +
                '</div>';

      
          document.body.appendChild(modal);
          // console.log("modal", modal)
          return modal;
        }
        
        function closeModal() {
          console.log('close')
          jQuery(exampleModal).modal('hide');
        }

        // LOGOUT FUNCTION
        function logout () {
            storage.removeItem("learner_id");

            window.location.replace("./login.html");
        }
    </script> -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>

