<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>Admin Portal - View Learners</title>
</head>
<body onload="getAllRegisteredLearners()">

    <div class="container">
        <h1>Courses</h1>
    </div>
    <div class="container">
        
        <table class="table table-borderless table-hover">
            <thead class="table-light"> 
              <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">NAME</th>
                <th scope="col" class="text-center">PRE-ASSIGN?</th>
                <th scope="col" class="text-center">REGISTRATION PERIOD</th>
                <th scope="col" class="text-center">SLOTS AVAILABLE?</th>
                <th scope="col" class="text-center">SLOTS AVAILABLE</th>
                <th scope="col" class="text-center text-white">HEHE</th>
                <!-- <i class="bi bi-check2"></i> -->
              </tr>
            </thead>
            <tbody id="course_list">
    
            </tbody>
        </table>
    </div>
<!-- 
    <span class="border border-success py-1 px-2 rounded">OPEN</span>
    <span class="border border-danger py-1 px-2 rounded">CLOSED</span> -->
    
</body>
   
    

    
    <!-- <script src="../../static/js/learners.js"></script> -->

    <script>
    function getAllRegisteredLearners() {
        document.getElementById("course_list").innerHTML = "";
    
    
        var request = new XMLHttpRequest();
    
        request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var obj = JSON.parse(this.response);
                var courses = obj.courses;
                var classes = obj.course_class;

                console.log(classes);

                
    
                var record = '';
                for (var i = 0; i < courses.length; i++) {
                    var c_name = courses[i].course_name;
                    var c_id = courses[i].course_id;
                    var c_description = courses[i].course_description;
                    var c_size = courses[i].class_size;
                    var num_of_class = courses[i].num_of_class;
                    var pre_assign = courses[i].pre_assign;
                    var total_slots_avail = 0;
                    var reg_period = courses[i].reg_period;

                    // find class
                    for (var j = 0; j < classes.length; j++) { 
                        var class_id = classes[j].class_id;
                        var slots_avail = classes[j].slots_available;

                        if (c_id == class_id.slice(0, -3)) { 
                            total_slots_avail += slots_avail;
                            //console.log(class_id, slots_avail);
                        }
                    }
                    console.log(c_id, total_slots_avail);

                    // preassign boolean 
                    // <a href="#">Column 1</a>
                    var tick_icon = pre_assign ? "bi bi-check2" : "";
                    var full_class = total_slots_avail <= 0? "FULL" : "AVAILABLE";
                    var slots_colour = total_slots_avail <= 0? "danger" : "success";
                    var border_colour = reg_period ? "success" : "danger"
                    var border_text = reg_period ? "OPEN" : "CLOSED"
    
                    record += `<tr><a href="#">

                        <td class="text-center align-middle">${c_id}</td>
                        <td class="text-center align-middle">${c_name}</td>
                        <td class="text-center align-middle"><i class="${tick_icon}"></i></td>
                        <td class="text-center align-middle"><span class="border border-${border_colour} py-1 px-2 rounded">${border_text}</span></td>
                        <td class="text-center align-middle"><span class="border border-${slots_colour} py-1 px-2 rounded">${full_class}</span></td>
                        <td class="text-center align-middle">${total_slots_avail}</td>

                        <td><i class="fa bi bi-chevron-double-right" ></i></td>
                        
                    </a></tr>`;
                }
                document.getElementById("course_list").innerHTML = record;
            }
        };
    
        url = "../sample.json";
        request.open("GET", url, true);
        request.send();
    };
    </script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>