<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Admin Portal - View Learners</title>
</head>
<body onload="getCourseDetails(); getAllRegisteredLearners(); getClassDropdown();">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse ms-4" id="navbarSupportedContent">

              <input type="radio"  name="emp_type" class="btn-check" id="learners" autocomplete="off" checked>
              <label class="btn btn-outline-primary" onclick="window.location.href='./test1.html'"  for="learners">Learners</label>
  
              <input type="radio"  name="emp_type" class="btn-check" id="trainers" autocomplete="off">
              <label class="btn btn-outline-primary" onclick='' for="trainers">Trainers</label>
          </div>
          <!-- <img src="../../static/img/sampleprofilepic.jfif" alt="profile picture"> -->
          <div class="pt-3 me-4">
            <p class="text-end username">Veronica Teng <p class="text-muted text-end usertype">Human Resource</p></p>
          </div>

        </div>
    </nav>

    <!-- section 1: course details -->
    <div class="container">
        <h2 id="course_title"></h2>
        <p> <strong>Description</strong> </p>
        <p id="course_description"></p>
    </div>

    <!-- Pagination (not done properly yet)-->
    <!-- <ul class="nav nav-pills nav-justified" style="padding-top: 20px;">
        <li class="nav-item" id="enrolled">
            <a class="nav-link" onclick="getAllEnrolledLearners()">Enrolled</a>
        </li>
        <li class="nav-item" id="registered">
            <a class="nav-link" onclick="getAllRegisteredLearners()">Registered</a>
        </li>
        <li class="nav-item" id="preassign">
            <a class="nav-link" onclick="getAllPreassignLearners()">Preassign</a>
        </li>
    </ul> -->

    <!-- dropdown -->
    <div class="container">
        <div class="dropdown">
            Class: &nbsp;
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul  id="class_dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#" value = "All" selected>All</a></li>
            </ul>
        </div>
    </div>
    



    <div class="container">
        <table class="table table-borderless">
            <thead class="table-light"> 
              <tr>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Student ID</th>
                <th scope="col" class="text-center">Application Date/Time</th> 
                <th scope="col" class="text-center">Status</th>
              </tr>
            </thead>
            <tbody id="learners_list">
    
            </tbody>
        </table>
    </div>
    

    <script>
        // get the course selected
        const course_selected = localStorage['course_selected'];
        //localStorage.removeItem( 'course_selected' ); // Clear the localStorage
        console.log('course selected: ' + course_selected);

        // we need a function to load files
        // done is a "callback" function
        // in this case, we're passing the `responseText` of the XML request
        var loadFile = function (filePath, done) {
            var xhr = new XMLHttpRequest();
            xhr.onload = function () { return done(this.response) }
            xhr.open("GET", filePath, true);
            xhr.send();
        }
        // paths to all of your files
        var myFiles = [ "../course_list.json", "../learners-v2.json"];
        // where you want to store the data
        var jsonData = [];
        // loop through each file
        myFiles.forEach(function (file, i) {
            // and call loadFile
            // note how a function is passed as the second parameter
            // that's the callback function
            loadFile(file, function (response) {
                // we set jsonData[i] to the parse data since the requests
                // will not necessarily come in order
                jsonData[i] = JSON.parse(response);
            }
        )});
        

        function getCourseDetails() {
            // global variables
            const course_ls = jsonData[0].courses;
            const class_ls = jsonData[0].course_classes;
            const learner_ls = jsonData[1][course_selected];
            
            // registered
            var reg_ls = learner_ls.registered_learners;

            // get description 
            for (var j = 0; j < course_ls.length; j++) { 
                var c_id = course_ls[j].course_id;
                if (course_selected == c_id) { 
                    var c_name = course_ls[j].course_name;
                    var c_desc = course_ls[j].course_description;
                    break
                }
            }

            //console.log('check', c_name, c_id, c_desc);
            document.getElementById("course_title").innerHTML = `${c_id} - ${c_name}`;
            document.getElementById("course_description").innerHTML = `${c_desc}`;
        }

        function getAllRegisteredLearners() { 
            const learner_ls = jsonData[1][course_selected];
            var reg_ls = learner_ls.registered_learners;

            //console.log(reg_ls);
            document.getElementById("learners_list").innerHTML = "";
        
            // get record
            record = getRowDetails(reg_ls);
            
            // update table with data
            document.getElementById("learners_list").innerHTML = record;
        }

        function getRowDetails(list) { 
            var record = '';

            for (var i = 0; i < list.length; i++) {
                // declare variables
                var course_avail = 0;

                // learners details
                var name = list[i].name;
                var id = list[i].id; 
                var app_dt = list[i].apply_datetime;
                var class_id = list[i].class_id;
                var class_name = list[i].class;
                
                // input row details
                record += `<tr onclick="" id="${id}"><a href="#">

                    <td class="text-center align-middle">${name}</td>
                    <td class="text-center align-middle">${id}</td>
                    <td class="text-center align-middle">${app_dt}</td>
                    <td class="text-center align-middle my-auto"><p class='btn-success btn rounded-pill align-middle my-auto'>Approve</p></td>

                    <td><i class="fa bi bi-chevron-double-right" ></i></td>
                    
                </a></tr>`;
            }

            return record;
        }

        // populate list
        function getClassDropdown() { 
            var class_dropdown = document.getElementById('class_dropdown');
            const class_ls = jsonData[0].course_classes[course_selected];
            
            // get dropdown value
            var options = [];
            for (const [key, value] of Object.entries(class_ls)) {
                var class_name = value['class_name'];
                options.push(class_name);
            }
            console.log(options);

            

            for(var i = 0; i < options.length; i++) {
                var opt = options[i]; 
                console.log(opt)
                
                // create element
                var li = document.createElement("li");
                var link = document.createElement("a");             
                var text = document.createTextNode(opt);
                link.appendChild(text);

                // set attributes: text, onclick event
                link.setAttribute("class", "dropdown-item");
                link.setAttribute("onclick", `getLearnersOfClass('${opt}')`);
                //link.href = "#";
                
                li.appendChild(link);
                class_dropdown.appendChild(li);
            }

            console.log(class_dropdown);
        }

        function getLearnersOfClass(class_name) { 
            const learner_ls = jsonData[1][course_selected];
            var reg_ls = learner_ls.registered_learners;
            console.log("class_name", class_name);
            //
            var class_reg_ls = [];
            //console.log(reg_ls); 
            for (const [key, value] of Object.entries(reg_ls)) {
                var curr_class_name = value['class'];

                if (class_name == curr_class_name) { 
                    class_reg_ls.push(value);
                }
            }
            //console.log(class_reg_ls);

            // 
            record = getRowDetails(class_reg_ls);

            // update table with data
            document.getElementById("learners_list").innerHTML = record;
        }

    </script>
    <!-- <script src="../../static/js/learners.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>