<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Admin Portal - View Learners</title>
</head>
<body onload="getData(); getCourseDetails(); getClassFilter(); displayLearnerDetails('all', 'preassign');">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse ms-4" id="navbarSupportedContent">

              <input type="radio"  name="emp_type" class="btn-check" id="learners" autocomplete="off" checked>
              <label class="btn btn-outline-primary" onclick="window.location.href='./test1.html'"  for="learners">Learners</label>
  
              <input type="radio"  name="emp_type" class="btn-check" id="trainers" autocomplete="off">
              <label class="btn btn-outline-primary" onclick='' for="trainers">Trainers</label>
          </div>
          <div class="float-end"><img src="../../static/img/sampleprofilepic.jfif" alt="profile picture"></div>
          <div class="pt-3 me-4">
            <p class="text-end username">Veronica Teng <p class="text-muted text-end usertype">Human Resource</p></p>
          </div>

        </div>
    </nav>

    <div class="container">
        <button type="button" class="btn btn-outline-danger" onclick="goBack()">Back</button>
    </div>

    <!-- section 1: course details -->
    <div class="container">
        <h2 id="course_title"></h2>
        <p> <strong>Description</strong></p>
        <p id="course_description"></p>
    </div>

    <!-- section 2: filters -->
    <div class="container">
        <!-- section 2: class filter -->

        <span class="fw-bold">Class: &nbsp;</span> 
        <select class="form-select" aria-label="dropdownforClasses" onchange="displayLearnersOfClass(this.value)">
            <!-- dropdown list options -->
            <!-- <option selected value="All" onclick="getAllLearnersOfClass()">All</option>
            <option value="1">One</option>
            <option value="2">Two</option> -->
        </select>

        <!-- section 3: learners type filter -->
        <ul class="pagination float-end me-2">
            <li class="page-item active" id="preassign">
                <a class="page-link" href='#' onclick="displayLearnersByType('preassign'); changeTabActive('preassign');">PREASSIGN</a>
            </li>
            <li class="page-item " id="registered">
                <a class="page-link" href='#' onclick="displayLearnersByType('registered'); changeTabActive('registered');" aria-current="registered">REGISTERED</a>
            </li>
            <li class="page-item" id="enrolled">
                <a class="page-link" href='#' onclick="displayLearnersByType('enrolled'); changeTabActive('enrolled');">ENROLLED</a>
            </li>
        </ul>
    </div>


    <!-- section 4: table content for learners -->
    <div class="container">
        <table class="table table-borderless">
            <thead class="table-light"> 
              <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Name</th>
                <!-- <th scope="col" class="text-center" id="app_dt">Application Date/Time</th>  -->
                <th scope="col" class="text-center" id="app_dt">Class</th> 
                <th scope="col" class="text-center">Status</th>
              </tr>
            </thead>
            <tbody id="learners_list">
    
            </tbody>
        </table>
    </div>
    
    <!-- javascript -->
    <script>
        // get the course selected
        const course_selected = localStorage['course_selected'];
        console.log('course selected: ' + course_selected);
        var course_json = [];
        var class_json = [];
        var learners_json = [];
        var course_ls = [];
        var class_ls = [];
        var learner_ls = [];
        var alert_msg = '';

        var class_filter = 'all';
        var learner_type = 'preassign';
        var curr_num_of_learners = 0;

        const learnerTypeDict = {
            "preassign": { 
                'num_of_learners': 0,
                'button_text': "Assign",
                'elem_class': "btn-success btn rounded-pill align-middle my-auto",
                'id': "preassign_learners",
                'func': 'assign'
            },
            "registered": { 
                'num_of_learners': 0,
                'button_text': "Approve",
                'elem_class': "btn-success btn rounded-pill align-middle my-auto",
                'id': "registered_learners",
                'func': 'assign'
            },
            "enrolled": { 
                'num_of_learners': 0,
                'button_text': "Withdraw",
                'elem_class': "btn-danger btn rounded-pill align-middle my-auto",
                'id': "enrolled_learners",
                'func': 'withdraw'
            }
        }

        // function to load json files
        var loadFile = function (filePath, done) {
            var xhr = new XMLHttpRequest();
            xhr.withCredentials = false;
            xhr.onload = function () { return done(this.response) }
            xhr.open("GET", filePath, true);
            xhr.send();
        }

        // load course_list data
        loadFile("http://192.168.1.71:5000/courses_list", function (response) {
            course_json.push(JSON.parse(response).data);
            // console.log(course_json);
            course_json = window.localStorage.setItem("course_json", JSON.stringify(course_json));
        })
        loadFile(`http://192.168.1.71:5000/course_classes/${course_selected}`, function (response) {
            class_json.push(JSON.parse(response));
            // console.log(class_json);
            class_json = window.localStorage.setItem("class_json", JSON.stringify(class_json));
        })
        loadFile(`http://192.168.1.71:5000/retrieve_course_learners/${course_selected}`, function (response) {
            learners_json.push(JSON.parse(response));
            //console.log(learners_json);
            learners_json = window.localStorage.setItem("learners_json", JSON.stringify(learners_json));
        })

        function goBack() {
            location.href = 'v3_test1.html';
            localStorage.clear();
        }


        function getData() {
             // get course, class data
             course_ls = JSON.parse(window.localStorage.getItem("course_json"))[0]['courses'];
             // console.log("course_ls: ", course_ls);
             class_ls = JSON.parse(window.localStorage.getItem("class_json"))[0][course_selected];
             // console.log("classs_ls: ", class_ls);
             learner_ls = JSON.parse(window.localStorage.getItem("learners_json"))[0][course_selected];
             // console.log("learners_ls: ", learner_ls);

             learnerTypeDict['preassign']['num_of_learners'] = learner_ls.preassign_learners.length;
             learnerTypeDict['registered']['num_of_learners'] = learner_ls.registered_learners.length;
             learnerTypeDict['enrolled']['num_of_learners'] = learner_ls.enrolled_learners.length;
             curr_num_of_learners = learner_ls.preassign_learners.length;

        }

        function getCourseDetails(class_id) {
            // console.log("course_ls: ", course_ls);
            // console.log("class_ls: ", class_ls);
            console.log("learner_ls: ", learner_ls);

            for (var j = 0; j < course_ls.length; j++) { 
                var c_id = course_ls[j].course_id;
                if (course_selected == c_id) { 
                    // console.log("c_id", c_id)
                    var c_name = course_ls[j].course_name;
                    var c_desc = course_ls[j].course_description;
                    break
                }
            }

            // console.log('check', c_name, c_id, c_desc);
            document.getElementById("course_title").innerHTML = `${c_id} - ${c_name}`;
            document.getElementById("course_description").innerHTML = `${c_desc}`;
        }

        function getClassFilter() { 
            console.log(`=== getClassFilter called ===`);
            console.log(`number of classes: ${class_ls.length}`);

            var class_dropdown = `<option selected value="All">All</option>`;
            for(var i = 0; i < class_ls.length; i++) {
                var class_id = class_ls[i].class_id;
                var class_name = `${class_id.slice(0, 1)}lass ${class_id.slice(1, 2)}`;
                // console.log(`test: ${class_id}, ${class_name}`)
                class_dropdown += `<option value="${class_id}">${class_name}</option>`;
            }

            document.getElementsByClassName("form-select")[0].innerHTML = class_dropdown;
        }

        function changeTabActive(curr_tab) { 
            var tab_list = ['preassign', 'registered', 'enrolled'];

            for(var i = 0; i < tab_list.length; i++) {
                // console.log(tab_list[i]);
                document.getElementById(`${tab_list[i]}`).setAttribute('class', 'page-item');

            }
            // console.log(`selected tab: ${curr_tab}`);
            document.getElementById(`${curr_tab}`).setAttribute('class', 'page-item active');

        }

        function displayLearnersOfClass(class_id) {
            class_filter = class_id; // update filter
            var type_id = learnerTypeDict[`${learner_type}`]['id'];
            var curr_class_type_list = learner_ls[`${type_id}`]; // type_id == 'enrolled_learners'

            console.log(`=== displayLearnersOfClass called ===`);
            console.log(`class_id: ${class_id}, learners_type: ${learner_type}`)
            
            document.getElementById("learners_list").innerHTML = "";

            if (class_filter.toLowerCase() == 'all') { 
                console.log(`in all ->`);
                var record = getHTMLofAllRecords(curr_class_type_list);
            } else {
                console.log(`in others ->`);
                var record = getHTMLofRecord(curr_class_type_list);
            }
            // update table with data
            document.getElementById("learners_list").innerHTML = record;
        }


        function displayLearnersByType(curr_learner_type) { 
            learner_type = curr_learner_type; // update filter
            var type_id = learnerTypeDict[`${curr_learner_type}`]['id'];
            // console.log('type_id', type_id)
            var curr_list = learner_ls[`${type_id}`]; // type_id == 'enrolled_learners'

            console.log(`=== displayLearnersByType called ===`);
            console.log(`class_filter: ${class_filter}, learners_type: ${learner_type}`);

            console.log('number of learners for tab:', learnerTypeDict[`${curr_learner_type}`]['num_of_learners'])
            
            if (class_filter.toLowerCase() == 'all') { 
                console.log(`in all ->`);
                var record = getHTMLofAllRecords(curr_list);
            } else {
                var record = getHTMLofRecord(curr_list);
            }

            // update table with data
            document.getElementById("learners_list").innerHTML = record;

        }

        function displayLearnerDetails(class_filter, learner_type) { 
            // number of learners
            console.log(`# of learners: preassign: ${learnerTypeDict['preassign']['num_of_learners']} | registered: ${learnerTypeDict['registered']['num_of_learners']} | enrolled: ${learnerTypeDict['enrolled']['num_of_learners']}`);
            var preassigned_ls = learner_ls['preassign_learners'];
            // console.log("preassigned_ls: ", preassigned_ls);

            var record = getHTMLofAllRecords(preassigned_ls);

            // update table with data
            document.getElementById("learners_list").innerHTML = record;
        }


        function getHTMLofRecord(curr_list) { 
            // console.log(`learner type:`, learnerTypeDict[`${learner_type}`]['num_of_learners']);
            var record = "";
            var num_of_learners = learnerTypeDict[`${learner_type}`]['num_of_learners'];
            var btn_class = learnerTypeDict[`${learner_type}`]['elem_class'];
            var func_type = learnerTypeDict[`${learner_type}`]['func'];
            var curr_learner_count = 0;

            if (num_of_learners == 0) {
                record = `There are currently no preassigned learners in for ${class_filter} classes`;
            } else { 
                
                for (var i = 0; i < curr_list.length; i++) {
                    var class_id = curr_list[i].class_id;
            
                    if (class_id.toLowerCase() == class_filter.toLowerCase()) {
                        var emp_name = curr_list[i].name;
                        var emp_id = curr_list[i].emp_id; 
                        // console.log(`hehe: ${emp_name}, ${emp_id}, ${class_id}`)
                        record += `<tr>
    
                            <td class="text-center align-middle">${emp_id}</td>
                            <td class="text-center align-middle">${emp_name}</td>
                            <td class="text-center align-middle">${class_id}</td>
                            <td class="text-center align-middle my-auto"><p class= "${btn_class}" onclick="updateLearners('${func_type}', '${emp_id}', '${class_id}')" id="${emp_id}">${learnerTypeDict[`${learner_type}`]['button_text']}</p></td>
        
                            </tr>`;

                        curr_learner_count++;
                    }
                   
                }
            }

            if (curr_learner_count == 0) { 
                record = `There are currently no preassigned learners in for ${class_filter} classes`;
            }
            console.log('number of learners for class+tab: ', curr_learner_count);
            // console.log(record);

            return record;
        }

        function getHTMLofAllRecords(curr_list) { 
            var record = "";
            var btn_text = learnerTypeDict[`${learner_type}`]['button_text'];
            var btn_class = learnerTypeDict[`${learner_type}`]['elem_class'];
            var func_type = learnerTypeDict[`${learner_type}`]['func'];
            
            if (learnerTypeDict[`${learner_type}`]['num_of_learners'] == 0) {
                record = `There are currently no preassigned learners in for ${class_filter} classes`;
            } else { 
                for (var i = 0; i < curr_list.length; i++) {
                    var class_id = curr_list[i].class_id;
                    // console.log(class_id);
                    var emp_name = curr_list[i].name;
                    var emp_id = curr_list[i].emp_id; 
                    // console.log(`hehe: ${emp_name}, ${emp_id}, ${class_id}`)
                    record += `<tr>

                        <td class="text-center align-middle">${emp_id}</td>
                        <td class="text-center align-middle">${emp_name}</td>
                        <td class="text-center align-middle">${class_id}</td>
                        <td class="text-center align-middle my-auto"><p class= "${btn_class}" onclick="updateLearners('${func_type}', '${emp_id}', '${class_id}'); " id="${emp_id}">${btn_text}</p></td>
    
                        </tr>`;
                }
            }
            // console.log(record);

            return record;
        }


        async function updateLearners(update_type, emp_id, class_id) {
            // add alert/service msg when withdraw/assign
            
            var course_id = course_selected;
            console.log(`update info: ${update_type}, ${emp_id}. ${class_id}, ${course_selected}`);

            var url = update_type == "assign" ? 'http://192.168.1.71:5000/assign_course' : 'http://192.168.1.71:5000/withdraw_course';
            var method = update_type == "assign" ? 'POST' : 'PUT';
            console.log(url, method);

            // AJAX call to invoke update of Learner's table in database to change available_slots: assign_course, withdraw_course
            var request = new XMLHttpRequest();
        
            request.withCredentials = false;
            // request.crossDomain = true;

            request.onreadystatechange = function () {
                try {
                    console.log("readystate: ", this.readyState, this.status);
                    if (this.readyState == 4 && (this.status == 200 || this.status == 201)) {
                        var obj = JSON.parse(this.response);
                        alert_msg = `${update_type} of learners is successful`;
                        var message = `Successfully ${update_type} the enrollment of Learner #${emp_id} from ${class_id} of ${course_id}.`;
                        console.log(`${update_type} of learners is successful`);
                        document.getElementById("learners_list").innerHTML = message; // to do

                        // alert storage
                        window.localStorage.setItem("alert_msg", alert_msg);
                        console.log('reload', localStorage['alert_msg']);
                        alert(localStorage['alert_msg']);
                        reload();
                    } else if (this.readyState == 4 && this.status == 404) {
                        alert_msg = `${update_type} of learners failed`, "error: ", this.statusText;
                        console.log(`${update_type} of learners failed`, "error: ", this.statusText);

                        // alert storage
                        window.localStorage.setItem("alert_msg", alert_msg);
                        console.log('reload', localStorage['alert_msg']);
                        alert(localStorage['alert_msg']);
                        
                        reload(); // location.reload(true);
                   
                    }
                } catch(err) {
                        // Errors when calling the service; such as network error, 
                    // service offline, etc
                    showError('There is a problem retrieving data, please try again later.<br />' + err);

                }
                // location.reload(true);
                
            }

            

            var data = JSON.stringify({ 'emp_id': emp_id, 
                                        'course_id': course_id,
                                        'class_id': class_id
            });

            console.log(data);
            request.open(method, url, true, "/json-handler");
            request.setRequestHeader("Content-Type", "application/json");
            request.send(data); // to do     
            
            // location.reload(true);
        }

        updateLearners(update_type, emp_id, class_id).then( function () { 
            console.log('424');
            // console.log('reload', localStorage['alert_msg']);
            // location.reload(true);
            alert(localStorage['alert_msg']);
        });
        
        


        function reload() {
            location.reload()
        }

        

    </script>
    <!-- <script src="../../static/js/learners.js"></script> -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>